#Description: It uses 100% when heating the chamber when there is no power shortage.
################################
### High Voltage / High Watt ###
################################

[heater_generic chamber]
heater_pin: PC5
sensor_type: Generic 3950
sensor_pin: PA1
max_power: 0.9 #<- 100% Power (90% used for safety)
min_temp: 0
max_temp: 80
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182

[verify_heater chamber]
max_error: 900
check_gain_time: 900
hysteresis: 5
heating_gain: 2

[gcode_macro M141] 
gcode:
    SET_HEATER_TEMPERATURE HEATER=chamber TARGET={params.S|default(0)}

[gcode_macro M191]
#description: Door lock -> Complete bed heating -> "Next process while chamber heating"
gcode:
    DOOR_LOCK_ON
    INNER_LED_SEMI_HEATING
    M117 Lock the door, heating the chamber...
	G28
    M140 S110
    M190 S110

    {% set s = params.S|float %}
    {% if s == 0 %}
        # If target temperature is 0, do nothing
        M117 No chamber heating.
    {% else %}
        # Set the chamber heater temperature only and proceed to the process 'without waiting'.
        SET_HEATER_TEMPERATURE HEATER=chamber TARGET={s}
    {% endif %}